{% extends 'Trainer/TrainerNavbar.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'GovernmentEmployee/css/style.css' %}"/>
<!--<link rel="stylesheet" type="text/css" href="{% static 'GovernmentEmployee/css/util.css' %}">-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'GovernmentEmployee/css/main.css' %}">-->


<div class="container-fluid">
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
                   <div class="p-3 mb-2 bg-success text-white" align="center">MCQ Question View</div>
					<table class="table table-bordered">
						<thead>
							<tr class="table100-head">
                                    <th  class="column1" >TopicName</th>
                                    <th  class="column2">McqQuestionName</th>
                                    <th  class="column3">Choice1</th>
                                    <th  class="column4">Choice2</th>
                                    <th  class="column5">Choice3</th>
                                    <th  class="column6">Choice4</th>
                                    <th  class="column7">CorrectAnswer</th>
                                    <th  class="column8">Edit</th>
                                    <th  class="column9">Delete</th>
                                    <th  class="column10">Details</th>
							</tr>
						</thead>
						<tbody>

                             {% for mcqQuestion in object_list  %}
                                            <tr>
                                                <td class="column1">{{ mcqQuestion.TopicName}}</td>
                                                <td class="column2">{{ mcqQuestion.McqQuestionName }}</td>
                                                <td class="column3">{{ mcqQuestion.Choice1 }}</td>
                                                <td class="column4">{{ mcqQuestion.Choice2 }}</td>
                                                <td class="column5">{{ mcqQuestion.Choice3 }}</td>
                                                <td class="column6">{{ mcqQuestion.Choice4 }}</td>
                                                <td class="column7">{{ mcqQuestion.CorrectAnswer }}</td>
                                                 <td class="column8">
                                                    <div class="form-group">
                                                       <a class="btn btn-primary" href="../editMcqQuestion/{{ mcqQuestion.id }}" role="button">Edit</a>
                                                    </div>
                                                 </td>
                                                 <td class="column9">
                                                        <div class="form-group">
                                                           <a class="btn btn-primary" href="../deleteMcqQuestion/{{ mcqQuestion.id }}" role="button">Delete</a>
                                                        </div>
                                                 </td>
                                                <td class="column10">
                                                        <div class="form-group">
                                                           <a class="btn btn-primary" href="../deleteMcqQuestion/{{ mcqQuestion.id }}" role="button">Details</a>
                                                        </div>
                                                 </td>
                                            </tr>
                             {% endfor %}
						</tbody>
					</table>
                    {% if is_paginated %}

                          {% if page_obj.has_previous %}
                            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                          {% endif %}

                          {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                              <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                              <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                          {% endfor %}

                          {% if page_obj.has_next %}
                            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                          {% endif %}

                    {% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

