{% extends 'GovernmentEmployee/GovernmentEmployeeNavbar.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'GovernmentEmployee/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'GovernmentEmployee/css/util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'GovernmentEmployee/css/main.css' %}">
<style>
    #myInput {
<!--  background-image: url('/css/searchicon.png');-->
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
</style>
<div class="container-fluid">
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
                     <h1 align="center">Trainer Registration Information</h1>
                     <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by Trainer Name.." title="Type in a name">
					<table id="myTable">
						<thead>
							<tr class="table100-head">
                                    <th  class="column1" >User Name</th>
                                    <th  class="column2">Email</th>
                                    <th  class="column3">Details</th>
							</tr>
						</thead>
						<tbody>
                             {% for regTrainer in object_list  %}
                                  {% if regTrainer.is_trainer %}
                                            <tr>
                                                <td class="column1">{{ regTrainer.username}}</td>
                                                <td class="column2">{{ regTrainer.email }}</td>
                                                <td class="column3">
                                                     <div class="form-group">
                                                         <a class="btn btn-primary" href="../detailsRegisterTrainer/{{ regTrainer.id }}" role="button">Details</a>
                                                     </div>
                                                 </td>
                                            </tr>
                                  {% endif %}
                             {% endfor %}
						</tbody>
					</table>
                    <!-- <script>
                            function myFunction() {
                              var input, filter, table, tr, td, i, txtValue;
                              input = document.getElementById("myInput");
                              filter = input.value.toUpperCase();
                              table = document.getElementById("myTable");
                              tr = table.getElementsByTagName("tr");
                              for (i = 0; i < tr.length; i++) {
                                td = tr[i].getElementsByTagName("td")[0];
                                if (td) {
                                  txtValue = td.textContent || td.innerText;
                                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                                  } else {
                                    tr[i].style.display = "none";
                                  }
                                }
                              }
                            }
                    </script> -->
                    {% if is_paginated %}
                      <ul class="pagination">
                        {% if page_obj.has_previous %}
                          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                          {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                      </ul>
                    {% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
 {% endblock %}
